<p id="notice"><%= notice %></p>
<p> laudeine </p>

<h1 class="titulo"> <%= @breed.nome %> </h1>

<p> <%= @breed.detail %> 


<%= link_to 'Edit', edit_breed_path(@breed) %> |
<%= link_to 'Back', breeds_path %>
